/*Variables*/
$primary-font-ours: 'Sawarabi Mincho';
$secondary-font-ours: 'Marck Script';
$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;

/*Typography*/
h1,
h2 {
  font-family: $secondary-font;
  color: $color-2;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
  margin: 0 0 0.4em;

  @include MQ(S) {
    font-size: 4em;
  }

  @include MQ(M) {
    font-size: 4em;
  }
}

h2 {
  font-size: 2em;
  margin: 1em 0 .3em;

  @include MQ(S) {
    font-size: 2em;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  font-family: $primary-font;
  font-size: 1.4rem;
  line-height: 1.4;
  color: lighten($color-2, 25%);

  a {
    color: $color-1;
    text-decoration: underline;
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}


.cd-buttons {
	.cd-box:first-of-type {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.cd-box:last-of-type {
		margin-top: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	button {
		margin: .4em;
	}

	@include MQ(M) {
		button {
			margin: 1em;
		}
	}
}

.page-title {
   font-family: $secondary-font-ours;
   font-size: 8em;
   font-weight: bold;
   margin-bottom: 200x;
   text-align: center;
   margin-bottom: 80px;
}

.page-headers {
   font-family: $secondary-font-ours;
   font-size: 3em;
   font-weight: bold;
   font-style: italic;
   text-align: center;
   margin-bottom: 80px;
}

.page-paragraphs {
   font-family: $primary-font-ours;
   font-size: 1em;
   margin-bottom: 80px;
}

.nav-title {
   font-family: $secondary-font-ours;
   font-size: 3em;
   font-weight: bold;
   text-align: center;
   margin-bottom: 80px;
}

.nav-buttons {
   font-family: $primary-font-ours;
   font-size: 1.6em;
   font-weight: bold;
}

.other-buttons {
   font-family: $secondary-font-ours;
   font-size: 1.6em;
   font-weight: bold;
}

.cd-box h2 {
  border: solid black 2px;
  text-align: center;
  padding: 10px;
}

.cd-box h2 + p {
  text-decoration: underline;
}