body {
    background: url(svg/tile.svg);
    margin: 0;
}

.main {
    padding-bottom: 60vw;
    background-image: url(svg/BubblesAndTub.svg),
                      url(svg/movingBubble1.svg),
                      url(svg/movingBubble2.svg),
                      url(svg/movingBubble3.svg),
                      url(svg/movingBubble4.svg),
                      url(svg/movingBubble5.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (min-width: 35em) {
    .main {
        background-image: none;
        padding-bottom: 10px;
    }

    .page-wrapper {
        background-image: url(svg/tub.svg),
                      url(svg/movingBubble1.svg),
                      url(svg/movingBubble2.svg),
                      url(svg/movingBubble3.svg),
                      url(svg/movingBubble4.svg),
                      url(svg/movingBubble5.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 50vw;
    }
}

@media (min-width: 60em) {
    .page-wrapper {
        padding-bottom: 45vw;  
    }
}
