// Shower curtain for intro section
.intro header h1 {
    background: url(svg/curtain_1.svg);
    background-size: 100%;
    padding: 30vw;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 0);
    margin: 10px;
    transition: .5s;
}

.intro a {
    color: #00a99d;
}

.intro header h1:hover {
    background: url(svg/curtain_2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 1);
    
}

@media (min-width:50em) {
    // Shower curtain for intro section
    .intro header h1 {
        background-size: 700px;
    }

    .intro header h1:hover {
        background-size: 700px;
    }
}