// Shower curtain for header
.intro header h1 {
    background: url(svg/curtain_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vw;
    height: 70vw;
    padding-left: 20vw;
    padding-top: 30vw;
    margin: auto;
    color: rgba(0, 0, 0, 0);
    transition: .5s;
}

.intro header h1:hover, .intro header h1:target, .intro header h1:active {
    background: url(svg/curtain_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(0, 0, 0, 1);
}

@media (min-width:35em) and (max-width:60em) {
    .intro header h1 {
        width: 75vw;
        height: 60vw;
        padding-top: 40vw;
    }
}

@media (min-width:60em) {
    .intro header h1 {
        width: 50vw;
        height: 40vw;
        padding-left: 10vw;
        padding-top: 20vw;
    }
}