// Shower curtain for intro section
.intro {
    background: url(svg/curtain_1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 150px;
    color: rgba(0, 0, 0, 0);
}

.intro a {
    color: #00a99d;
}

.intro:hover {
    background: url(svg/curtain_2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 220px;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

@media (min-width:60em) {
    // Shower curtain for intro section
    .intro {
        padding: 150px 50px 300px 200px;
    }

    .intro:hover {
        padding: 150px 50px 300px 250px;
    }
}