/*variables*/
$primary-font: 'Sawarabi Mincho';
$secondary-font: 'Marck Script';

/*Font CSS*/
h1 {
   font-family: $secondary-font;
   font-size: 14vw;
   text-align: center;
   font-weight: bold;
}

h2, h3 {
   font-family: $secondary-font;
   font-size: 1.9em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   margin: 0;
   background-color: rgba(186, 187, 173);
   border-top-right-radius: 7px;
   border-top-left-radius: 7px;
}

h2:before, h3:before { 
   content: url(images/flower-l.jpg);
   vertical-align: middle;
   zoom: .4;
   margin-right: 10px;
}



.sidebar h3 {
   font-size: 1.6em;
}

p {
   font-family: $primary-font;
   padding: 20px;
   margin-top: 0;
}

a {
   text-decoration: none;
   color:darken(#00a99d, 5%);
}

a:hover {
   text-decoration: underline;
}

li {
   list-style-type: none;
}

.intro h2 {
   margin-top: -120;
}


footer a {
   margin: 5px;
   padding: 3px;
}

footer a:hover {
   border: solid 1px #00a99d;
   border-radius: 4px;
   text-decoration: none;
}

@media (min-width:35em) {   
   h2:after, h3:after {
      content: url(images/flower-r.jpg);
      vertical-align: middle;
      zoom: .4;
      margin-left: 10px;
   }
}

@media (min-width:60em) {
   h1 {
      font-size: 10vw;
   }
}

@media (min-width: 45em) and (max-width: 59em) {
   h2, h3 {
      font-size: 2.5em;
   }
}

@media (min-width: 70em) {
   h2, h3 {
      font-size: 2.5em;
   }
}

@media (min-width: 80em) {
   h2, h3 {
      font-size: 3em;
   }
}