/*variables*/
$primary-font: 'Sawarabi Mincho';
$secondary-font: 'Marck Script';

/*Font CSS*/
h1 {
   font-family: $secondary-font;
   font-size: 12vw;
   text-align: center;
}

h2, h3 {
   font-family: $secondary-font;
   font-size: 3em;
   text-align: center;
}

.sidebar h3 {
   font-size: 1.6em;
}

p {
   font-family: $primary-font;
   padding: 20px;
}

a {
   text-decoration: none;
   color:darken(#00a99d, 5%);
}

a:hover {
   text-decoration: underline;
}

li {
   list-style-type: none;
}

.intro h2 {
   margin-top: -120;
}


footer a {
   margin: 5px;
   padding: 3px;
}

footer a:hover {
   border: solid 1px #00a99d;
   border-radius: 4px;
   text-decoration: none;
}

@media (min-width:60em) {
   h1 {
      font-size: 10vw;
   }
}