/*variables*/
$primary-font: 'Sawarabi Mincho';
$secondary-font: 'Marck Script';

/*Font CSS*/
h1 {
   font-family: $secondary-font;
   font-size: 6em;
}

h2, h3 {
   font-family: $secondary-font;
}

p {
   font-family: $primary-font;
}