/*** SMALL ***/
// general formatting
.main {
    margin-bottom: 100px;
}
aside {
    li {
    list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    h3 {
        display: none;
    }
}

// towel (select a design)
.design-selection {
    background: url(svg/towel_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    nav {
        width: 80vw;
        height: 80vw;
        margin-left: 10px; 
        opacity: 0;
    }
}

.design-selection:hover {
    background: url(svg/towel_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    nav:hover {
        opacity: 100%;
        position: relative;
        transform: skewX(10deg);
    }
    nav ul {
        position: absolute;
        top: 10%;
        left: 20%;
    }
}

// perfume (archives)
.design-archives {
    background: url(svg/perfume_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -90px;
    nav {
        width: 100vw;
        height: 70vw;
        opacity: 0;
        position: relative;
    }
    nav ul {
        position: absolute;
        top: 10%;
    }
}

.design-archives:hover {
    background: url(svg/perfume_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    nav:hover {
        opacity: 100%;
        position: relative;
    }
}

// candle (resources)
.zen-resources {
    background: url(svg/candle_1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: -150px;
    ul {
        width: 80vw;
        height: 70vw;
        opacity: 0;
    }
}

.zen-resources:hover {
    background: url(svg/candle_2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    ul:hover {
        opacity: 100%;
        transform: skewY(5deg);
    }
    ul li {
        margin-left: 15vw;
    }
    ul li:first-child {
        margin-top: 53vw;
    }
}

/*** MEDIUM ***/
@media (min-width:35em) and (max-width:60em) {
    // general formatting
    .main {
        margin-bottom: 0;
    }
    aside li {
        margin-bottom: 10px;
    }

    // towel (select a design)
    .design-selection {
        width: 33.33vw;
        height: 33.33vw;
        display: flex;
        align-items: flex-start;
        nav {
            width: 33.33vw;
            height: 60vw;
            opacity: 100;
            position: relative;
        }
        nav ul {
            position: absolute;
            top: 50%;
            left: 0;
            margin-left: -10px;
        }
    }

    .design-selection:hover {
        nav:hover {
            opacity: 100%;
            position: relative;
            transform: skewX(0deg);
        }
        nav ul {
            position: absolute;
            top: 50%;
            left: 0%;
            margin-left: -10px;
        }
    }

    // perfume (archives)
    .design-archives {
        margin-top: 20px;
        width: 33.33vw;
        height: 33.33vw;
        display: flex;
        align-items: flex-start;
        nav {
            width: 33.33vw;
            height: 60vw;
            opacity: 100;
            position: relative;
        }
        nav ul {
            top: 50%;
        }
    }

    .design-archives:hover {
        nav ul {
            top: 50%;
        }
    }

    // candle (resources)
    .zen-resources {
        margin-top: 20px;
        width: 33.33vw;
        height: 33.33vw;
        display: flex;
        align-items: flex-start;
        ul {
            width: 33.33vw;
            height: 60vw;
            opacity: 100;
            position: relative;
            margin: 0;
        }
        ul li:first-child {
            margin-top: 32vw;
        }
    }

    .zen-resources:hover {
        ul:hover {
            transform: skewY(0deg);
        }
        ul li {
            margin-left: 0;
        }
        ul li:first-child {
            margin-top: 32vw;
        }
    }
}

/*** LARGE ***/
@media (min-width:60em) {
    // towel (select a design)
    .design-selection {
        width: 33.33vw;
        height: 33.33vw;
        nav {
            width: 33.33vw;
            height: 33.33vw;
        }
    }

    .design-selection:hover {
        nav ul {
            position: absolute;
        }
    }

    // perfume (archives)
    .design-archives {
        margin-top: 30px;
        width: 33.33vw;
        height: 33.33vw;
        nav {
            width: 33.33vw;
            height: 33.33vw;
        }
    }

    .design-archives:hover {
        nav ul {
            top: 20%;
        }
    }

    // candle (resources)
    .zen-resources {
        margin-top: 30px;
        width: 33.33vw;
        height: 33.33vw;
        ul {
            width: 33.33vw;
            height: 33.33vw;
        }
    }

    .zen-resources:hover {
        ul:hover {
            transform: skewY(5deg);
        }
        ul li {
            margin-left: 5vw;
        }
        ul li:first-child {
            margin-top: 23vw;
        }
    }
}