footer {
   background: url(svg/tub.svg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 47vw;
   text-align: center;
   position: relative;
   bottom: 0;
   top: 200px;
   justify-items: center;
}