@import 'partials/fonts';
@import 'partials/background';
<<<<<<< HEAD
@import 'partials/tub';
=======
@import 'partials/curtain';
@import 'partials/sidebar';
>>>>>>> f25dafad940e04af3caa4b04877c458b36145572

.page-wrapper {
    margin: 1em;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: 30rem;
    text-align: center;
}

.sidebar {
    margin-top: -30rem;
}

<<<<<<< HEAD
// Shower curtain for intro section
.intro {
    background: url(svg/curtain_1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 150px;
    color: rgba(0, 0, 0, 0);
}

.intro a {
    color: #00a99d;
}

.intro:hover {
    background: url(svg/curtain_2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 220px;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

body {
    position: relative;
}

=======
>>>>>>> f25dafad940e04af3caa4b04877c458b36145572
@media (min-width:60em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 3vw;
    }

    .main {
        grid-column: 1/2;
    }
    .sidebar {
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 0;
    }

    .wrapper {
        display: block;
    }

    footer {
        margin: 0;
    }
}