/*variables*/
/*Font CSS*/
h1 {
  font-family: "Marck Script";
  font-size: 5em;
  text-align: center;
}

h2, h3 {
  font-family: "Marck Script";
  font-size: 3em;
  text-align: center;
}

.sidebar h3 {
  font-size: 1.6em;
}

p {
  font-family: "Sawarabi Mincho";
  padding: 20px;
}

a {
  text-decoration: none;
  color: #009085;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

body {
  background: url(svg/tile.svg);
  margin: 0;
}

footer {
  background: url(svg/tub.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 47vw;
  text-align: center;
  position: relative;
  bottom: 0;
  top: 200px;
  justify-items: center;
}

.intro {
  background: url(svg/curtain_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 150px 50px 100px 150px;
  color: rgba(0, 0, 0, 0);
}

.intro a {
  color: #00a99d;
}

.intro:hover {
  background: url(svg/curtain_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 150px 50px 100px 220px;
  color: black;
  transition: 0.5s;
}

@media (min-width: 60em) {
  .intro {
    padding: 150px 50px 300px 200px;
  }

  .intro:hover {
    padding: 150px 50px 300px 250px;
  }
}
aside li {
  list-style-type: none;
}
aside a {
  text-decoration: none;
}
aside h3 {
  display: none;
}

.design-selection {
  background: url(svg/towel_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.design-selection nav {
  padding: 25px 0;
  opacity: 0;
}

.design-selection:hover {
  background: url(svg/towel_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.design-selection:hover nav:hover {
  opacity: 100%;
}

.design-archives {
  background: url(svg/perfume_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.design-archives nav {
  padding: 25px 0;
  opacity: 0;
}

.design-archives:hover {
  background: url(svg/perfume_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.design-archives:hover nav:hover {
  opacity: 100%;
}

.zen-resources {
  background: url(svg/candle_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.zen-resources nav {
  padding: 25px 0;
  opacity: 0;
}

.zen-resources:hover {
  background: url(svg/candle_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.zen-resources:hover nav:hover {
  opacity: 100%;
}

.page-wrapper {
  margin: 1em;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

footer {
  margin-top: 30rem;
  text-align: center;
}

.sidebar {
  margin-top: -30rem;
}

.intro {
  background: url(svg/curtain_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 150px 50px 100px 150px;
  color: rgba(0, 0, 0, 0);
}

.intro a {
  color: #00a99d;
}

.intro:hover {
  background: url(svg/curtain_2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 150px 50px 100px 220px;
  color: black;
  transition: 0.5s;
}

body {
  position: relative;
}

@media (min-width: 60em) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 3vw;
  }

  .main {
    grid-column: 1/2;
  }

  .sidebar {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }

  .wrapper {
    display: block;
  }

  footer {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
