@import 'partials/fonts';
@import 'partials/background';
@import 'partials/tub';
@import 'partials/curtain';
@import 'partials/sidebar';

.page-wrapper {
    margin: 1em;
}

footer {
    margin-top: 30rem;
    text-align: center;
}

.sidebar {
    margin-top: -56rem;
}

body {
    position: relative;
}

@media (min-width:35em) and (max-width:60em) {
    .wrapper {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width:60em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 60vw 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-gap: 10px;
    }

    .main {
        grid-column: 1/2;
    }

    .sidebar {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 0;
        margin-top: 400px;
    }

    .wrapper {
        display: block;
    }

    footer {
        margin: 0;
    }
}