@import 'partials/fonts';

.wrapper {
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: 30rem;
    text-align: center;
}

.sidebar {
    margin-top: -30rem;
}

// Shower curtain for intro section
.intro {
    background: url(svg/curtain_1.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 150px;
    color: rgba(0, 0, 0, 0);
}

.intro a {
    color: #00a99d;
}

.intro:hover {
    background: url(svg/curtain_2.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 50px 100px 220px;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

@media (min-width:60em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 3vw;
    }

    .main {
        grid-column: 1/2;
    }
    .sidebar {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 0;
    }

    .wrapper {
        display: block;
    }

    footer {
        margin: 0;
    }

    // Shower curtain for intro section
    .intro {
        padding: 150px 50px 300px 200px;
    }

    .intro:hover {
        padding: 150px 50px 300px 250px;
    }
}