@import 'partials/fonts';
@import 'partials/background';
@import 'partials/tub';
@import 'partials/curtain';
@import 'partials/sidebar';

.page-wrapper {
    margin: 1em;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: 30rem;
    text-align: center;
}

.sidebar {
    margin-top: -56rem;
}

// Shower curtain for intro section

.intro a {
    color: #00a99d;
}

body {
    position: relative;
}

@media (min-width:60em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 4fr 1fr;
        grid-gap: 3vw;
    }

    .main {
        grid-column: 1/2;
    }

    .sidebar {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 0;
    }

    .wrapper {
        display: block;
    }

    footer {
        margin: 0;
    }
}