/*variables*/
/*Font CSS*/
h1 {
  font-family: "Marck Script";
  font-size: 14vw;
  text-align: center;
  font-weight: bold;
}

h2, h3 {
  font-family: "Marck Script";
  font-size: 1.9em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: #babbad;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

h2:before, h3:before {
  display: inline-block;
  content: url(images/flower-l.jpg);
  vertical-align: middle;
  zoom: 0.4;
  margin-right: 10px;
}

.sidebar h3 {
  font-size: 1.6em;
}

p {
  font-family: "Sawarabi Mincho";
  padding: 20px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #009085;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.intro h2 {
  margin-top: -120;
}

footer a {
  margin: 5px;
  padding: 3px;
}

footer a:hover {
  border: solid 1px #00a99d;
  border-radius: 4px;
  text-decoration: none;
}

@media (min-width: 35em) {
  h2:after, h3:after {
    display: inline-block;
    content: url(images/flower-r.jpg);
    vertical-align: middle;
    zoom: 0.4;
    zoom: 0.4;
    margin-left: 10px;
  }
}
@media (min-width: 60em) {
  h1 {
    font-size: 10vw;
  }
}
@media (min-width: 45em) and (max-width: 59em) {
  h2, h3 {
    font-size: 2.5em;
  }
}
@media (min-width: 70em) {
  h2, h3 {
    font-size: 2.5em;
  }
}
@media (min-width: 80em) {
  h2, h3 {
    font-size: 3em;
  }
}
@media screen and (min-width: 0\0 ) and (min-resolution: 72dpi) {
  h2:after, h3:after {
    position: relative;
    top: 50%;
  }

  h2:before, h3:before {
    position: relative;
    top: 50%;
  }
}
body {
  background: url(svg/tile.svg);
  margin: 0;
}

.main {
  padding-bottom: 60vw;
  background-image: url(svg/BubblesAndTub.svg), url(svg/movingBubble1.svg), url(svg/movingBubble2.svg), url(svg/movingBubble3.svg), url(svg/movingBubble4.svg), url(svg/movingBubble5.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

@media screen and (min-width: 0\0 ) and (min-resolution: 72dpi) {
  body {
    background-size: 960px 540px;
  }
}
@media (min-width: 35em) {
  .main {
    background-image: none;
    padding-bottom: 10px;
  }

  .page-wrapper {
    background-image: url(svg/tub.svg), url(svg/movingBubble1.svg), url(svg/movingBubble2.svg), url(svg/movingBubble3.svg), url(svg/movingBubble4.svg), url(svg/movingBubble5.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    -ms-background-repeat: no-repeat;
    -ms-background-position: bottom;
    padding-bottom: 50vw;
  }
}
@media (min-width: 60em) {
  .page-wrapper {
    padding-bottom: 45vw;
  }
}
/*footer {
   background-image: url(svg/BubblesAndTub.svg), 
                     url(svg/movingBubble1.svg),
                     url(svg/movingBubble2.svg),
                     url(svg/movingBubble3.svg),
                     url(svg/movingBubble4.svg),
                     url(svg/movingBubble5.svg);
   background-repeat: no-repeat;

   width: 500px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;

   text-align: center;
   position: relative;
   bottom: 0;
   text-align: center;
   justify-items: center;
}

@media (min-width:60em) {
   footer {
      grid-column: 1/3;
      grid-row: 3/4;
      width: 1000px;
      height: 800px;
      justify-items: center;
      align-items: center;
   }
}*/
.intro header h1 {
  background: url(svg/curtain_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 75vw;
  height: 70vw;
  padding-left: 20vw;
  padding-top: 30vw;
  margin: auto;
  color: rgba(0, 0, 0, 0);
  transition: 0.5s;
}

.intro header h1:hover, .intro header h1:target, .intro header h1:active {
  background: url(svg/curtain_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

@media (min-width: 35em) and (max-width: 60em) {
  .intro header h1 {
    width: 75vw;
    height: 60vw;
    padding-top: 40vw;
  }
}
@media (min-width: 60em) {
  .intro header h1 {
    width: 50vw;
    height: 40vw;
    padding-left: 10vw;
    padding-top: 20vw;
  }
}
/*** SMALL ***/
.main {
  margin-bottom: 100px;
}

aside li {
  list-style-type: none;
}
aside a {
  text-decoration: none;
}
aside h3 {
  display: none;
}

.design-selection {
  background: url(svg/towel_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.design-selection nav {
  width: 80vw;
  height: 80vw;
  margin-left: 10px;
  opacity: 0;
}

.design-selection:hover, .design-selection:active {
  background: url(svg/towel_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.design-selection:hover nav:hover, .design-selection:hover .nav:active, .design-selection:active nav:hover, .design-selection:active .nav:active {
  opacity: 1;
  position: relative;
  transform: skewX(10deg);
}
.design-selection:hover nav ul, .design-selection:active nav ul {
  position: absolute;
  top: 10%;
  left: 20%;
}

.design-archives {
  background: url(svg/perfume_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
}
.design-archives nav {
  width: 100vw;
  height: 70vw;
  opacity: 0;
  position: relative;
}
.design-archives nav ul {
  position: absolute;
  top: 10%;
}

.design-archives:hover, .design-selection:active {
  background: url(svg/perfume_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.design-archives:hover nav:hover, .design-archives:hover .nav:active, .design-selection:active nav:hover, .design-selection:active .nav:active {
  opacity: 1;
  position: relative;
}

.zen-resources {
  background: url(svg/candle_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: -150px;
}
.zen-resources ul {
  width: 80vw;
  height: 70vw;
  opacity: 0;
}

.zen-resources:hover, .zen-resources:active {
  background: url(svg/candle_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.zen-resources:hover ul:hover, .zen-resources:hover .ul:active, .zen-resources:active ul:hover, .zen-resources:active .ul:active {
  opacity: 1;
  transform: skewY(5deg);
  -ms-transform: skewY(5deg);
}
.zen-resources:hover ul li, .zen-resources:active ul li {
  margin-left: 15vw;
}
.zen-resources:hover ul li:first-child, .zen-resources:active ul li:first-child {
  margin-top: 39vw;
}

/*** MEDIUM ***/
@media (min-width: 35em) and (max-width: 60em) {
  .main {
    margin-bottom: 0;
  }

  .design-selection {
    width: 33.33vw;
    height: 33.33vw;
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .design-selection nav {
    position: absolute;
    top: -100%;
    left: 10%;
    width: 33.33vw;
    height: 60vw;
    opacity: 0;
    position: relative;
  }
  .design-selection nav ul {
    transform: scale(0.8);
  }

  .design-selection:hover nav:hover {
    opacity: 100%;
    position: relative;
    transform: skewX(5deg);
  }
  .design-selection:hover nav ul {
    position: absolute;
    top: 50%;
    left: 0%;
    margin-left: -10px;
  }

  .design-archives {
    margin-top: 20px;
    width: 33.33vw;
    height: 33.33vw;
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .design-archives nav {
    width: 33.33vw;
    height: 60vw;
    opacity: 0;
    position: relative;
    top: -80%;
  }
  .design-archives nav ul {
    top: 50%;
    left: -5%;
    transform: scale(0.7);
  }

  .design-archives:hover nav ul {
    top: 50%;
  }

  .zen-resources {
    margin-top: 20px;
    width: 33.33vw;
    height: 33.33vw;
    display: flex;
    align-items: flex-start;
    margin-top: 0;
  }
  .zen-resources ul {
    width: 33.33vw;
    height: 60vw;
    opacity: 0;
    position: relative;
    margin: 0;
  }

  .zen-resources:hover ul:hover {
    transform: skewY(0deg);
    top: -35%;
    left: 15%;
    transform: scale(0.7);
  }
  .zen-resources:hover ul li {
    margin-left: 0;
  }
  .zen-resources:hover ul li:first-child {
    margin-top: 32vw;
  }
}
/*** LARGE ***/
@media (min-width: 60em) {
  .design-selection {
    width: 33.33vw;
    height: 33.33vw;
  }
  .design-selection nav {
    width: 26vw;
    height: 28vw;
    transform: skewX(5deg);
  }

  .design-selection:hover nav ul {
    position: absolute;
    left: 20px;
  }

  .design-archives {
    margin-top: 30px;
    width: 33.33vw;
    height: 33.33vw;
  }
  .design-archives nav {
    width: 33.33vw;
    height: 33.33vw;
  }

  .design-archives:hover nav ul {
    top: 15%;
    right: 55%;
  }

  .zen-resources {
    margin-top: 30px;
    width: 33.33vw;
    height: 33.33vw;
  }
  .zen-resources ul {
    width: 30vw;
    height: 30vw;
  }

  .zen-resources:hover ul:hover {
    transform: skewY(0deg);
    transform: scale(0.9);
  }
  .zen-resources:hover ul li {
    margin-left: 5vw;
  }
  .zen-resources:hover ul li:first-child {
    margin-top: 19vw;
  }
}
@media screen and (min-width: 0\0 ) and (min-resolution: 72dpi) and (min-width: 35em) and (max-width: 60em) {
  .design-selection nav {
    top: -90%;
  }
}
.page-wrapper {
  margin: 1em;
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(0, 169, 157, 0.1);
  border-radius: 10px;
}

body {
  position: relative;
}

.main div, .preamble {
  border: solid 2px #babbad;
  margin-top: 50px;
  border-radius: 10px;
}

.summary {
  border-bottom: solid 2px #babbad;
  border-left: solid 2px #babbad;
  border-right: solid 2px #babbad;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

header h2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 40px;
}

@media (min-width: 35em) and (max-width: 60em) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    margin: 0;
  }
  .sidebar ul {
    padding: 10px;
  }
}
@media (min-width: 60em) {
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60vw 1fr;
    grid-template-columns: 60vw 1fr;
    -ms-grid-gap: 10px;
    grid-gap: 10px;
  }

  .main {
    -ms-grid-column: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2/3;
  }

  .sidebar {
    -ms-grid-column: 2;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/3;
    margin: 0;
    margin-top: 400px;
  }

  .wrapper {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
