@import 'partials/fonts';

.wrapper {
    display: flex;
    flex-direction: row;
}

footer {
    position: fixed;
    bottom: 0;
}

@media (min-width:60em) {
    .page-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 3vw;
    }

    .main {
        grid-column: 1/2;
    }
    .sidebar {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .wrapper {
        display: block;
    }
}